// variables

$color_principal: #5265E1; // Variable con el color primario
$color_secundari: #FA5959; // Variable con el color secundario
$color_blanco: #fff;

$primary: $color_principal; // modificación del color primario de Bootstrap
$secondary: $color_secundari; // modificación del color secundario de Bootstrap

$navbar-light-toggler-icon-bg: url(/images/icon-hamburger.svg); // modificación del icono hamburguesa
$border-width: 0; // quitando el borde del botón hamburguesa

// Añadiendo valores a los espacios

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 9,
  8: $spacer * 12,
  9: $spacer * 15,
  10: $spacer * 25,
);

// Añadiendo valores a la posición
$position-values: (
  0: 0,
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  100: 100%
);

// Añadiendo valores al tamaño de anchura
$utilities: (
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
  "height": (
    property: height,
    responsive: true,
    class: h,
    values: (
        10:10%,
      25: 25%,
      35: 35%,
      40: 40%,
      50: 50%,
      60: 60%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),
);

// scss 

img{
    z-index: 1; // imagen posicionada al frente
}

@import "../node_modules/bootstrap/scss/bootstrap";

